

#container{
background-color:yellow;
color:white;
font-family:Arial,sans-serif;
}
h3{
color:yellow;
font-family:Arial,sans-serif;
}
#container1{
background-color:pink;
color:brown;
}
button{
color:white;
background-color:yellow;
align:right;
}

